@import '../../utils/utils.scss';

.content{
  background-color:#ffffff;
  
  min-height: 100%;
  padding: 20px;
  

  .create-admin{
    height: 330px;
    padding: 0;
    .title{
      @include font();
      color: $dark-grey;
      font-weight: normal;
      font-size: 32px;
      margin-left: 10%;
    }
  }


    
}
