@import '../../utils/utils.scss';

.content{
    .input-skill{
        margin-right: 2%;
        background-color: $white-two;
      border: solid 1px $greyish-two;
      padding-left: 5px;
      font-size: 16px;
    }
    .delete{
        &:hover{
            cursor: pointer;
        }
        color : rgb(252, 58, 58);
        width: 24px;
        height: 26px;
    }

    td{
        &:hover{
            cursor: pointer;
        }
    }
}