@import "../../utils/utils.scss";


.profile-container {
  height: 920px !important;
  width: 900px !important;

  .change-profile-title {
    margin-left: 10%;
    height: 100px !important;
    width: 260px !important;
  }

  .change-avatar {
    width: 152px !important;
    margin-left: 0% !important;
    padding-left: 0% !important;
    color: white;
    height: 32px;
    font-weight: bold;
  }

  .activeR {
    .passwordLabel {
      width: 124px;
    }
    .phoneInput {
      width: 220px;
    }
    .ageInput{
      width: 100px;
    }
    .pass{
      width: 180px;
    }
  }

  .login-button-active {
    height: 40px ;
    width: 180px ;
    padding-top: 1%;
    padding-right: 5%;
    background-color: #ffa15f;
    margin-top: 4%;
    margin-left: 6%;
    margin-bottom: 6%;
    border-radius: 1px;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
    border: none;
  

    .buttonText {
      margin-left: 20%;
      margin-top: 4%;
      font-size: 14px;
      color: white;
      font-family: Montserrat;
      font-weight: 600;
    }
  }

  .login-button {
    @extend .login-button-active;
    background: $white-four;
  }
}
