@import "../../utils/utils.scss";

.contain{
  overflow: hidden;
  .profile-container {
    height: 520px !important;
    width: 800px !important;
  
    .change-profile-title {
      margin-left: 8%;
      height: 100px !important;
      width: 260px !important;
    }
  
    .item-name{
      text-align: right !important;
      width: 180px;
    }
  
    .group-button{
      margin-left: 20% !important;
    }
  
    .footer{
      position: relative;
      bottom: 0em;
    }
   
  }
  
}
