@import "../../utils/utils.scss";


.profile-container {
  height: 920px !important;
  width: 900px !important;

  .change-profile-title {
    margin-left: 10%;
    height: 100px !important;
    width: 260px !important;
  }

  .item-name{
    text-align: right !important;
    width: 180px;
  }

  .group-button{
    margin-left: 20% !important;
  }

 
}
