@import '../Profile/Profile.scss';
@import '../../utils/utils.scss';


.user-detail{
    background: $white-two;
    .profile{
        .activeR{
            width: auto;
            .usernameLabel{
                font-weight: bold;
            }
        }
    }
}
